{% extends 'base.j2' %}
{% block content %}
<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center text-center items-center dark:text-white">
<h1 class="text-7xl font-bold">404</h1>
<p class="text-3xl">Page not found</p>
</div>
{% endblock %}
