{% extends "base.j2" %}
{% set title = "Packages" %}
{% block content %}


<div class="sm:flex sm:items-center sm:justify-between">
    <div class="">
        <div class="flex items-center gap-x-3">
            <h2 class="text-lg font-medium text-gray-800 ">Packages</h2>

            <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full ">{{packages|length}} {{ 'Packages' if
                packages|length > 1 else 'Package' }}</span>
        </div>

    </div>

    <div class="flex items-center gap-x-3">

        <div x-data="{ 'showModal': false }">
            <button type="button" @click="showModal = true"
                class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-600 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>

                <span>Add package</span>
            </button>
            {% include 'modals/add_package.j2' %}
        </div>

    </div>
</div>
<div x-data="{ search: '' }">
    <div class="mt-6 md:flex md:items-center md:justify-between">


        <div class="relative flex items-center mt-4 md:mt-0">
            <span class="absolute">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5 mx-3 text-gray-400 ">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </span>

            <input type="text" placeholder="Search" x-model="search"
                class="block w-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5  focus:border-blue-400  focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
        </div>
    </div>

    <div class="flex flex-col mt-2">
        <div class=" overflow-x-auto">
            <div class="inline-block w-full align-middle ">
                <div class="overflow-auto border border-gray-200 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 ">
                        <thead class="bg-gray-50 ">
                            <tr>
                                <th scope="col"
                                    class="pl-3 py-3.5  text-sm font-normal text-left rtl:text-right text-gray-500">
                                    Name
                                </th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
                                    Identifier
                                </th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
                                    Publisher</th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
                                    Latest Version</th>

                                <th scope="col" class="relative py-3.5 px-4">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {% for package in packages %}
                            <tr x-show="search === '' || '{{package.package_name}}'.toLowerCase().includes(search.toLowerCase()) || '{{package.package_identifier}}'.toLowerCase().includes(search.toLowerCase()) || '{{package.publisher}}'.toLowerCase().includes(search.toLowerCase())"
                                x-cloak>


                                <td class="px-4 py-4 text-md whitespace-nowrap">
                                    <h4 class="text-gray-700 font-semibold ">{{ package.package_name }}</h4>
                                </td>
                                <td class="px-4 py-4 text-md whitespace-nowrap">
                                    <h4 class="text-gray-700 ">{{ package.package_identifier }}</h4>
                                </td>

                                <td class="px-4 py-4 text-md whitespace-nowrap">
                                    <h4 class="text-gray-700 ">{{ package.publisher }}</h4>
                                </td>

                                <td class="pl-3 py-4 text-sm font-medium whitespace-nowrap">
                                    <div
                                        class="inline px-3 py-1  text-sm font-normal rounded-full  gap-x-2 {{ 'bg-emerald-100/60 text-emerald-500' if package.versions|length > 0 else 'bg-red-100/60 text-red-500' }}  ">
                                        {{ 'Version ' + package.versions[0].package_version if package.versions|length >
                                        0 else 'No versions' }}
                                    </div>
                                </td>

                                <td class="px-4 py-4 text-sm whitespace-nowrap flex flex-row justify-center">
                                    <a href="{{ url_for('ui.package', identifier=package.package_identifier) }}"
                                        class="px-1  py-1 text-gray-500 transition-colors duration-200 rounded-lg  hover:bg-gray-100">
                                        <?xml version="1.0" ?><svg class="feather feather-edit" fill="none" height="24"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" viewBox="0 0 24 24" width="24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
                                            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}




                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-6 sm:flex sm:items-center sm:justify-between ">
    <div class="text-sm text-gray-500">
        Page <span class="font-medium text-gray-700 ">1 of 10</span>
    </div>

    <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
        <a href="#"
            class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700  transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>

            <span>
                previous
            </span>
        </a>

        <a href="#"
            class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700  transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 ">
            <span>
                Next
            </span>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




{% endblock %}