{% extends "base.j2" %}
{% set title = "Packages" %}
{% block content %}


<div class="sm:flex sm:items-center sm:justify-between">
    <div>
        <div class="flex items-center gap-x-3">
            <h2 class="text-3xl font-medium text-gray-800 ">{{ package.package_name }} <span
                    class="text-gray-500 text-base">{{package.package_identifier}}</span></h2>
            <span
                class="px-3 py-1 mt-1 text-sm text-blue-600 {{ 'bg-emerald-100/60 text-emerald-500' if package.versions|length > 0 else 'bg-red-100/60 text-red-500' }} rounded-full ">
                {{ 'Version ' + package.versions[0].package_version if
                package.versions|length > 0 else 'No versions' }}
            </span>
        </div>

    </div>

</div>

<div class="flex flex-col md:flex-row h-96 gap-x-4 gap-y-12">
    <div class="h-full w-full max-w-screen-sm	">
        <h3 class="text-2xl mb-1">Info</h3>
        <div class="bg-white/70 rounded-md h-full p-2 w-full flex flex-col space-y-2">
            <form class="mt-5 flex flex-col h-full" x-data="{'fileChosen': false}" action="{{ url_for('update_package_info') }}"
                method="POST" enctype="multipart/form-data">


                <div class="mt-2">
                    <label for="name" class="block  text-gray-700 capitalize ">Name</label>
                    <input required name="name" placeholder="" type="text" value="{{package.package_name}}"
                        class="block w-full px-3 py-2 mt-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                </div>

                <div class="mt-2">
                    <label for="publisher" class="block text-gray-700 capitalize ">Publisher</label>
                    <input required name="publisher" placeholder="" type="text" value="{{package.publisher}}"
                        class="block w-full px-3 py-2 mt-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                </div>

                <div>
                    <label for="identifier" class="block  text-gray-700 capitalize ">Identifier</label>
                    <input required name="identifier" placeholder="" type="text" value="{{package.package_identifier}}"
                        class="block w-full px-3 py-2 mt-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                </div>

                <div class=" grow flex flex-row justify-end ">
                    <button type="submit"
                        class="self-end		 px-3 py-2  text-white  transition-colors duration-200 transform bg-blue-600 hover:bg-blue-500 rounded-md focus:outline-none focus:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                        Update Metadata
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="h-full w-full max-w-screen-sm">
        <div class="flex flex-row">
            <h3 class="text-2xl mb-1">Versions</h3>
            <button
                class="bg-blue-600 hover:bg-blue-500 transition-colors duration-200 p-0.25 rounded-md text-white h-min self-end ml-2 mb-1.5"><svg
                    class="h-6 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </button>
        </div>
        <div class="bg-white/70 rounded-md h-full p-2 flex flex-col overflow-y-auto space-y-2">
            {% if package.versions|length == 0%}
            <div class="h-full w-full flex flex-col justify-center items-center">
                <p class="text-gray-500 text-center">No versions, consider adding at least one</p>
            </div>
            {% endif %}
            {% for version in package.versions %}
            <div class="bg-white drop-shadow-md rounded-md flex flex-col "
                x-data="{ expanded: false }" @click.away="expanded = false">

                <div class="flex flex-row justify-between cursor-pointer p-2" @click="expanded = !expanded">
                    <p class="font-bold text-xl">{{version.package_version}}</p>
                    <p class="text-gray-700">{{version.date_added or ""}}</p>
                </div>
                <div x-show="expanded" x-collapse>
                    <div class="flex flex-col p-2" >
                        <h3 class="text-xl font-bold">Info</h3>
                        <div class="flex flex-row">
                            <div class="flex flex-col">
                                <p>Default locale</p>
                                <p>Package locale</p>
                                <p>Date added</p>
                            </div>
                            <div class="flex flex-col ml-2">
                                <p>{{version.default_locale}}</p>
                                <p>{{version.package_locale}}</p>
                                <p>{{version.date_added}}</p>
                            </div>


                        </div>

                        <h3 class="text-xl font-bold">Installers</h3>
                        <div class="flex flex-row">
                            <div class="bg-gray-100 p-1.5 flex flex-col rounded-md w-1/2">
                                {% if version.installers|length == 0%}
                                <p class="text-gray-500">No installers, consider adding one</p>
                                {% endif %}
                                {% for installer in version.installers %}
                                <div class="flex flex-row p-2 bg-white rounded-md justify-between"
                                    @click="navigator.clipboard.writeText('{{installer.installer_url}}');">
                                    <p class="font-bold">{{installer.architecture}}</p>
                                    <div class="flex flex-row space-x-2 group cursor-pointer">
                                        <svg class="group-hover:stroke-blue-500 h-6 w-6 transition-colors duration-200"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                                        </svg>
                                        <p class="group-hover:text-blue-600 transition-colors duration-200">Copy link </p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button
                                class="bg-blue-600 hover:bg-blue-500 transition-colors duration-200 p-0.5 rounded-md text-white h-min self-end ml-2"><svg
                                    class="h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                {%endfor%}
                <div class="flex flex-grow"></div>
            </div>

        </div>

    </div>



    {% endblock %}