{% extends "base.j2" %}
{% set title = "Packages" %}
{% block content %}


<div class="sm:flex sm:items-center sm:justify-between">
    <div class="">
        <div class="flex items-center gap-x-3">
            <h2 class="text-lg font-medium text-gray-800 ">Packages</h2>

            <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full ">{{packages|length}} {{ 'Packages' if
                packages|length > 1 else 'Package' }}</span>
        </div>

    </div>

    <div class="flex items-center gap-x-3">

        <div x-data="{ 'showModal': false }">
            <button type="button" @click="showModal = true"
                class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-600 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>

                <span>Add package</span>
            </button>
            <div x-show="showModal" class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title"
                role="dialog" aria-modal="true">
                <div
                    class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
                    <div x-cloak @click="showModal = false" x-show="showModal"
                        x-transition:enter="transition ease-out duration-300 transform"
                        x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                        x-transition:leave="transition ease-in duration-200 transform"
                        x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
                        class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40" aria-hidden="true"></div>

                    <div x-data="fileUpload()" x-cloak x-show="showModal"
                        x-transition:enter="transition ease-out duration-300 transform"
                        x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                        x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                        x-transition:leave="transition ease-in duration-200 transform"
                        x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                        x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                        class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl">
                        <div class="flex items-center justify-between space-x-4">
                            <h1 class="text-xl font-medium text-gray-800 ">Add package</h1>

                            <button @click="showModal = false"
                                class="text-gray-600 focus:outline-none hover:text-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </button>
                        </div>

                        <p class="mt-2 text-sm text-gray-500 ">
                            Packages added here will instantly be available to all clients.
                        </p>

                        <form x-ref="uploadForm" @submit.prevent="submitForm" class="mt-5" x-data="{ fileChosen: false }"
                            x-data="{'fileChosen': false}" action="{{ url_for('add_package') }}" method="POST"
                            enctype="multipart/form-data">


                            <div class="mt-2">
                                <label for="name" class="block  text-gray-700 capitalize ">Name<span class="text-red-500">*</span></label>
                                <input required name="name" placeholder="" type="text"
                                    class="block w-full px-3 py-2 mt-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                            </div>

                            <div class="mt-2">
                                <label for="publisher" class="block text-gray-700 capitalize ">Publisher<span class="text-red-500">*</span></label>
                                <input required name="publisher" placeholder="" type="text"
                                    class="block w-full px-3 py-2 mt-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                            </div>

                            <div class="mt-2">
                                <label for="identifier" class="block  text-gray-700 capitalize ">Identifier<span class="text-red-500">*</span></label>
                                <input required name="identifier" placeholder="" type="text"
                                    class="block w-full px-3 py-2 mt-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                            </div>

                            <div class="mt-2">
                                <label for="file" class="block  text-gray-700 capitalize ">File</label>
                                <input @change="fileChosen = $refs.fileInput.files.length > 0" x-ref="fileInput" name="file"
                                    accept=".exe,.msi,.msix,.appx" type="file"
                                    class="block w-full px-3 py-2 mt-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                            </div>
                            
                            <div x-show="fileChosen" x-collapse>
                            <div class="mt-2">
                                <label for="architecture" class="block text-gray-700 capitalize ">Architecture<span class="text-red-500">*</span></label>
                                <select name="architecture" x-bind:required="fileChosen"
                                    class="block w-full px-3 py-2 mt-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                                    <option value="x86">x86</option>
                                    <option value="x64">x64</option>
                                    <option value="arm">arm</option>
                                    <option value="arm64">arm64</option>
                                </select>
                            </div>

                            <div class="mt-2" >
                                <label for="version" class="block  text-gray-700 capitalize ">Version<span class="text-red-500">*</span></label>
                                <input name="version" placeholder="" type="text" x-bind:required="fileChosen"
                                    class="block w-full px-3 py-2 mt-1 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                            </div>
                            </div>

                            <div class="flex justify-end mt-6">
                                <button x-show="showUploadButton" type="submit"
                                    class="px-3 py-2 tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-600 hover:bg-blue-500 rounded-md focus:outline-none focus:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                                    Add Package
                                </button>
                            </div>
                            <div x-show="!showUploadButton"
                                class="h-auto p-2 rounded-md w-min bg-blue-600 flex flex-row justify-end text-white text-lg font-semibold "
     x-bind:style="'width: ' + progress + '%; transition: width 0.5s ease-in-out;'">
                                <p x-text="progress"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div x-data="{ search: '' }">
    <div class="mt-6 md:flex md:items-center md:justify-between">


        <div class="relative flex items-center mt-4 md:mt-0">
            <span class="absolute">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5 mx-3 text-gray-400 ">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </span>

            <input type="text" placeholder="Search" x-model="search"
                class="block w-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5  focus:border-blue-400  focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
        </div>
    </div>

    <div class="flex flex-col mt-2">
        <div class=" overflow-x-auto">
            <div class="inline-block w-full align-middle ">
                <div class="overflow-auto border border-gray-200 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 ">
                        <thead class="bg-gray-50 ">
                            <tr>
                                <th scope="col"
                                    class="pl-3 py-3.5  text-sm font-normal text-left rtl:text-right text-gray-500">
                                    Name
                                </th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
                                    Identifier
                                </th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
                                    Publisher</th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
                                    Latest Version</th>

                                <th scope="col" class="relative py-3.5 px-4">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {% for package in packages %}
                            <tr x-show="search === '' || '{{package.package_name}}'.toLowerCase().includes(search.toLowerCase()) || '{{package.package_identifier}}'.toLowerCase().includes(search.toLowerCase()) || '{{package.publisher}}'.toLowerCase().includes(search.toLowerCase())"
                                x-cloak>


                                <td class="px-4 py-4 text-md whitespace-nowrap">
                                    <h4 class="text-gray-700 font-semibold ">{{ package.package_name }}</h4>
                                </td>
                                <td class="px-4 py-4 text-md whitespace-nowrap">
                                    <h4 class="text-gray-700 ">{{ package.package_identifier }}</h4>
                                </td>

                                <td class="px-4 py-4 text-md whitespace-nowrap">
                                    <h4 class="text-gray-700 ">{{ package.publisher }}</h4>
                                </td>

                                <td class="pl-3 py-4 text-sm font-medium whitespace-nowrap">
                                    <div
                                        class="inline px-3 py-1  text-sm font-normal rounded-full  gap-x-2 {{ 'bg-emerald-100/60 text-emerald-500' if package.versions|length > 0 else 'bg-red-100/60 text-red-500' }}  ">
                                        {{ 'Version ' + package.versions[0].package_version if package.versions|length >
                                        0 else 'No versions' }}
                                    </div>
                                </td>

                                <td class="px-4 py-4 text-sm whitespace-nowrap flex flex-row justify-center">
                                    <a href="{{ url_for('package', identifier=package.package_identifier) }}"
                                        class="px-1  py-1 text-gray-500 transition-colors duration-200 rounded-lg  hover:bg-gray-100">
                                        <?xml version="1.0" ?><svg class="feather feather-edit" fill="none" height="24"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" viewBox="0 0 24 24" width="24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
                                            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}




                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-6 sm:flex sm:items-center sm:justify-between ">
    <div class="text-sm text-gray-500">
        Page <span class="font-medium text-gray-700 ">1 of 10</span>
    </div>

    <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
        <a href="#"
            class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>

            <span>
                previous
            </span>
        </a>

        <a href="#"
            class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 ">
            <span>
                Next
            </span>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function fileUpload() {
        return {
            progress: 0,
            showUploadButton: true,
            showModal: true,
            submitForm() {
                this.showUploadButton = false;
                var hasFile = this.$refs.fileInput.files.length > 0;
                let formData = new FormData(this.$refs.uploadForm);

                $.ajax({
                    url: this.$refs.uploadForm.action,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    xhr: () => {
                        let xhr = new window.XMLHttpRequest();
                        if (hasFile) {
                            let fileSize = this.$refs.fileInput.files[0].size;
                            xhr.upload.addEventListener('progress', (event) => {
                                if (event.lengthComputable) {
                                    this.progress = Math.round((event.loaded / fileSize) * 100);
                                }
                            });
                        }
                        return xhr;
                    },
                    success: () => {
                        this.progress = 0;
                        this.showModal = false;
                        this.$refs.uploadForm.reset();
                    },
                    complete: () => {
                        this.showUploadButton = true;
                        this.$refs.uploadForm.reset();
                    }
                });
            },
            hideUploadButton() {
                this.showUploadButton = false;
            }
        };
    }
</script>

{% endblock %}