<!DOCTYPE html>
<html lang="en">
{% include "head.j2" %}

<body class="font-poppins bg-slate-200 dark:bg-zinc-800 w-full">

    <div class="flex flex-col h-screen justify-between">

        <main class="flex flex-col justify-center items-center grow h-full min-w-full ">

            <div
                class="bg-white/70 dark:bg-neutral-900 shadow-lg flex flex-col justify-center p-3 rounded-2xl w-full max-w-sm">
                <div class="flex flex-row items-center flex-shrink-0 text-neutral-900 dark:text-neutral-200">

                    <img width="61" height="40" src="{{ url_for('static', filename='img/wingetty_small.png')}}"
                        alt="Logo" class="h-10 w-auto mr-2">

                    <span
                        class="font-semibold text-2xl {% if config.IS_CLOUD %}text-lg leading-5{% endif %} tracking-tight mb-0.5">WinGetty
                        {% if config.IS_CLOUD %}<br>
                        <span
                            class="text-transparent font-medium bg-clip-text bg-gradient-to-br from-[#31ffee] to-[#2660ff]">Cloud</span>
                        {%endif%}</span>
                    <div class="flex-grow"></div>
                    <button id="theme-toggle" class="theme-toggle mr-2" type="button" title="Toggle theme"
                        aria-label="Toggle theme">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="1.2em" height="1.2em"
                            fill="currentColor" class="theme-toggle__expand" viewBox="0 0 32 32">
                            <clipPath id="theme-toggle__expand__cutout">
                                <path d="M0-11h25a1 1 0 0017 13v30H0Z" />
                            </clipPath>
                            <g clip-path="url(#theme-toggle__expand__cutout)">
                                <circle cx="16" cy="16" r="8.4" />
                                <path
                                    d="M18.3 3.2c0 1.3-1 2.3-2.3 2.3s-2.3-1-2.3-2.3S14.7.9 16 .9s2.3 1 2.3 2.3zm-4.6 25.6c0-1.3 1-2.3 2.3-2.3s2.3 1 2.3 2.3-1 2.3-2.3 2.3-2.3-1-2.3-2.3zm15.1-10.5c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zM3.2 13.7c1.3 0 2.3 1 2.3 2.3s-1 2.3-2.3 2.3S.9 17.3.9 16s1-2.3 2.3-2.3zm5.8-7C9 7.9 7.9 9 6.7 9S4.4 8 4.4 6.7s1-2.3 2.3-2.3S9 5.4 9 6.7zm16.3 21c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zm2.4-21c0 1.3-1 2.3-2.3 2.3S23 7.9 23 6.7s1-2.3 2.3-2.3 2.4 1 2.4 2.3zM6.7 23C8 23 9 24 9 25.3s-1 2.3-2.3 2.3-2.3-1-2.3-2.3 1-2.3 2.3-2.3z" />
                            </g>
                        </svg>
                    </button>
                </div>

                <h1 class="text-3xl font-medium text-gray-800 dark:text-gray-200 mt-4">{{title}}</h1>
                <div class="w-full max-w-screen-sm">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        {% include "footer.j2" %}
    </div>

    {% include "flash.j2" %}
    {% include "theme_switcher.j2" %}
</body>

</html>