<nav x-data="{ menuVisible: window.innerWidth > 768 }" @click.away="if(window.innerWidth < 768) menuVisible = false"
    class="flex items-center justify-between flex-wrap sm:flex-row bg-white dark:bg-zinc-900 text-neutral-700 dark:text-neutral-100	 p-4 drop-shadow-md sticky top-0 z-10">
    <a href="{{ url_for('ui.index') }}">
        <div class="flex flex-row items-center flex-shrink-0 text-neutral-900 dark:text-neutral-200 mr-6">

            <img width="61" height="40" src="{{ url_for('static', filename='img/wingetty_small.png')}}" alt="Logo"
                class="h-10 w-auto mr-2">

            <span
                class="font-semibold text-2xl {% if config.IS_CLOUD %}text-lg leading-5{% endif %} tracking-tight mb-0.5">WinGetty
                {% if config.IS_CLOUD %}<br>
                <span
                    class="text-transparent font-medium bg-clip-text bg-gradient-to-br from-[#31ffee] to-[#2660ff]">Cloud</span>
                {%endif%}</span>
        </div>
    </a>
    <div class="block md:hidden">
        <button @click="menuVisible = !menuVisible"
            class="flex items-center px-3 py-2  hover:text-blue-600 transition-colors duration-300">
            <svg class="fill-current h-6 w-6 transition-transform duration-300"
                x-bind:class="menuVisible ? '-rotate-90' : 'rotate-0'" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
    </div>

    <div class="w-full block flex-grow md:flex md:flex-row justify-between items-center md:w-auto text-lg font-semibold"
        x-collapse x-show="menuVisible">

        <div class="text-lg font-semibold">
            <a href="{{ url_for('ui.packages') }}"
                class="block mt-2 md:inline-block md:mt-0  hover:text-blue-600 mr-4 transition-colors duration-500">
                Packages
            </a>
            <a href="{{ url_for('ui.setup') }}"
                class="block mt-2 md:inline-block md:mt-0  hover:text-blue-600 mr-4 transition-colors duration-500">
                Setup
            </a>

        </div>
        <div class="flex-grow"></div>
        <a href="{{ url_for('ui.users') }}"
            class="block mt-2 md:inline-block md:mt-0  hover:text-blue-600 mr-4 transition-colors duration-500 ">
            Access 
        </a>
        <a href="{{ url_for('ui.settings') }}"
            class="block mt-2 md:inline-block md:mt-0  hover:text-blue-600 mr-4 transition-colors duration-500 ">
            Settings
        </a>


        {% if config.IS_CLOUD and current_user.role.id == 1 %}
        <a href="https://subscription.wingetty.dev/p/login/4gw2aXeXacdgcPm8ww?prefilled_email={{ current_user.email }}"
            class="block mt-2 md:inline-block md:mt-0  hover:text-blue-600 mr-4 transition-colors duration-500">
            Manage subscription
        </a>
        {% endif %}




        <a href="{{ url_for('auth.logout') }}" aria-label="Logout"
            class="block mt-2 md:inline-block md:mt-0  hover:text-blue-600 mr-4 transition-colors duration-500 ">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-log-out">
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                <polyline points="16 17 21 12 16 7"></polyline>
                <line x1="21" y1="12" x2="9" y2="12"></line>
            </svg>

        </a>

        <div class="w-full md:w-auto flex flex-row justify-end">
            <button id="theme-toggle" class="theme-toggle mt-2 sm:mt-0 " type="button" title="Toggle theme"
                aria-label="Toggle theme">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="1.2em" height="1.2em"
                    fill="currentColor" class="theme-toggle__expand" viewBox="0 0 32 32">
                    <clipPath id="theme-toggle__expand__cutout">
                        <path d="M0-11h25a1 1 0 0017 13v30H0Z" />
                    </clipPath>
                    <g clip-path="url(#theme-toggle__expand__cutout)">
                        <circle cx="16" cy="16" r="8.4" />
                        <path
                            d="M18.3 3.2c0 1.3-1 2.3-2.3 2.3s-2.3-1-2.3-2.3S14.7.9 16 .9s2.3 1 2.3 2.3zm-4.6 25.6c0-1.3 1-2.3 2.3-2.3s2.3 1 2.3 2.3-1 2.3-2.3 2.3-2.3-1-2.3-2.3zm15.1-10.5c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zM3.2 13.7c1.3 0 2.3 1 2.3 2.3s-1 2.3-2.3 2.3S.9 17.3.9 16s1-2.3 2.3-2.3zm5.8-7C9 7.9 7.9 9 6.7 9S4.4 8 4.4 6.7s1-2.3 2.3-2.3S9 5.4 9 6.7zm16.3 21c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zm2.4-21c0 1.3-1 2.3-2.3 2.3S23 7.9 23 6.7s1-2.3 2.3-2.3 2.4 1 2.4 2.3zM6.7 23C8 23 9 24 9 25.3s-1 2.3-2.3 2.3-2.3-1-2.3-2.3 1-2.3 2.3-2.3z" />
                    </g>
                </svg>
            </button>
        </div>

    </div>

</nav>