{% extends "base.j2" %}
{% set title = "Packages" %}
{% set alpine_data = "{ showAddPackageModal: false}"%}

{% block content %}
<div class="sm:flex sm:items-center sm:justify-between">
    <div class="flex items-center gap-x-3">
        <h1 class="text-3xl font-medium text-gray-800 dark:text-gray-200">{{title}}</h1>

        <span
            class="px-3 py-1 mt-1 text-base text-center text-blue-600 dark:text-blue-300 bg-blue-200/60 dark:bg-blue-600/60 rounded-full">{{package_count}}
            {{ 'Packages' if
            (package_count > 1 or package_count == 0) else 'Package' }}</span>
    </div>


    <div class="flex items-center  gap-x-3">
        {% if current_user.role.has_permission('add:package') %}
        <div x-data="{ 'showAddPackageModal': false }">
            <button type="button" @click="showAddPackageModal = true"
                class="flex items-center justify-center mt-2 sm:mt-0 px-3 py-1.5 text-sm text-white transition-colors duration-300 bg-blue-600 rounded-lg shrink-0 gap-x-2 hover:bg-blue-500">
                <svg class="h-6 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                </svg>
                <span>Add package</span>
            </button>
            {% include 'modals/add_package.j2' %}
        </div>
        {% endif %}

    </div>
</div>
<div x-data="{ search: '' }">
    <div class="mt-6 md:flex md:items-center md:justify-between">
        <div class="relative flex items-center mt-4 md:mt-0">
            <span class="absolute">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5 mx-3 text-gray-400 ">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </span>

            <input type="text" placeholder="Search" x-model="search"
                class="block w-full py-1.5 pr-5 text-gray-700 dark:text-gray-200 bg-white dark:bg-neutral-900 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5  focus:border-blue-400  focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
        </div>
    </div>

    <div class="flex flex-col mt-2">
        <div class=" overflow-x-auto">
            <div class="inline-block w-full align-middle ">
                <div class="overflow-auto rounded-lg">
                    <table id="packages_table" hx-target="#packages_table tbody" hx-swap="innerHTML"
                        class="min-w-full divide-y divide-gray-200 dark:divide-gray-400 ">
                        <thead class="bg-gray-50 dark:bg-neutral-950 ">
                            <tr class="text-gray-500 dark:text-gray-200">
                                <th scope="col" class="pl-3 py-3.5  text-sm font-normal text-left rtl:text-right ">
                                    Name
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right ">
                                    Identifier
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right ">
                                    Publisher</th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right ">
                                    Latest Version</th>

                                <th scope="col" class="relative py-3.5 px-4">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody
                            class="bg-white dark:bg-neutral-900 divide-y divide-gray-200 dark:divide-gray-700 text-gray-700 dark:text-gray-300" hx-target="closest tr" hx-swap="outerHTML swap:1s">
                            {% include("packages_rows.j2") %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-6 sm:flex sm:items-center sm:justify-between " x-data="{ currentPage: {{page}}}">
    <div class="text-sm text-gray-500 dark:text-gray-300">
        Page <span class="font-medium text-gray-700 dark:text-gray-400"><span class="dark:text-gray-300"
                x-text="currentPage"></span> of {{ pages }}</span>
    </div>

    <div class="flex items-center mt-4 gap-x-4 sm:mt-0" x-show="{{pages}} > 1">
        <button
            @click="currentPage = currentPage > 1 ? currentPage - 1 : 1; addOrOverrideURLParameter('page', currentPage);"
            x-bind:hx-get="'{{url_for('ui.packages')}}?page=' + (currentPage > 1 ? currentPage - 1 : 1)"
            hx-target="#packages_table tbody" hx-swap="innerHTML"
            class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 dark:text-gray-300  transition-colors duration-300 bg-white dark:bg-neutral-950 dark:hover:bg-neutral-900 rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>

            <span>
                previous
            </span>
        </button>

        <button
            @click="currentPage = currentPage < {{pages}} ? currentPage + 1 : currentPage; addOrOverrideURLParameter('page', currentPage);"
            x-bind:hx-get="'{{url_for('ui.packages')}}?page=' + (currentPage < {{pages}} ? currentPage + 1 : currentPage)"
            hx-target="#packages_table tbody" hx-swap="innerHTML"
            class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 dark:text-gray-300  transition-colors duration-300 bg-white dark:bg-neutral-950 dark:hover:bg-neutral-900 rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 ">
            <span>
                Next
            </span>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </button>
    </div>
</div>


<script>
function addOrOverrideURLParameter(paramName, paramValue) {
  const url = new URL(window.location.href);
  const searchParams = url.searchParams;
  
  if (searchParams.has(paramName)) {
    searchParams.delete(paramName);
  }
  
  searchParams.append(paramName, paramValue);
  window.history.replaceState({}, '', url.toString());
}

    </script>
{% endblock %}