{% extends "base.j2" %}
{% set title = "Settings" %}
{% block content %}
<h1 class="text-3xl font-medium text-gray-800 dark:text-gray-200">{{title}}</h1>

<p class="dark:text-gray-200 mt-2">
    Version:
    {{ config.VERSION }}
    <span class="text-gray-400">
        ({{ 'Beta' if (config.VERSION.split('.')[0]|int) < 1 else 'Stable' }})</span>
</p>

{% endblock %}