{% extends "base.j2" %}
{% set title = "Setup" %}
{% block content %}
<h1 class="text-3xl font-medium text-gray-800 dark:text-gray-300">{{title}}</h1>



<p class="mt-4 inline-block dark:text-gray-200">Setting up is easy, just execute the following command in an elevated
    PowerShell Terminal to add WinGetty as a source.</p>
<div x-data>
<p @click="navigator.clipboard.writeText($event.target.innerText)" 
    class="inline-block p-2 bg-white dark:bg-neutral-900 dark:text-gray-300 rounded-md cursor-pointer">winget source add -n
    {{ config.REPO_NAME }} -t "Microsoft.Rest" -a {{ url_for('api.index', _external=True,_scheme="https") }}</p>
</div>
{% endblock %}