{% extends "base.j2" %}
{% set title = "Setup" %}
{% block content %}
<h1 class="text-3xl font-medium text-gray-800 dark:text-gray-300">{{title}}</h1>



<p class="mt-4 inline-block dark:text-gray-200">Setting up is easy, just execute the following command in an elevated
    PowerShell Terminal to add WinGetty as a source.</p>


<div x-data="{ copyText: function() { navigator.clipboard.writeText(document.getElementById('winget_source_url').innerText).then(function(){ console.log('Copied to clipboard'); }).catch(function(error){ console.error('Unable to copy text: ' + error); }); } }"
    class="flex justify-between max-w-3xl items-center pl-2 pr-1 py-1 bg-white dark:bg-neutral-950 dark:text-gray-300 rounded-md">
    <p id="winget_source_url" @click="navigator.clipboard.writeText($event.target.innerText)">winget source add
        -n
        {{ config.REPO_NAME }} -t "Microsoft.Rest" -a {{ url_for('winget.index', _external=True,_scheme="https") }}</p>
    <a x-on:click="copyText"
        class="px-1 group py-1 text-gray-500 transition-colors hover:bg-gray-100 dark:bg-neutral-900  duration-300 rounded-md cursor-pointer">
        <svg class="group-hover:stroke-blue-500 transition-color duration-300 h-6 w-6" fill="none" stroke="currentColor"
            stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244">
            </path>
        </svg>
    </a>
</div>
{% endblock %}