name: Build And Push Docker image

# When calling this workflow, ensure you use
#   secrets: inherit
# So the DOCKER_USERNAME and DOCKER_PASSWORD are available.

on:
  workflow_call:
    inputs:
      publish:
        type: boolean
        description: Wether to publish the image to Github Registry
        required: false
        default: false
      publish_dockerhub:
        type: boolean
        description: | 
          Whether to publish the image to Docker Hub (only if publish=true).
          Needs DOCKER_USERNAME and DOCKER_PASSWORD secrets (use secrets: inherit on the calling workflow).
        required: false
        default: false
      version:
        type: string
        required: false
        description: the string to extract semver labels from. If empty, the ref/tag will be used (if on.tag trigger).
        default: ''

jobs:
  build_and_push:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}},value=${{ inputs.version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ inputs.version }}
            type=semver,pattern={{major}},value=${{ inputs.version }}
            type=ref,event=branch,suffix=-{{ sha }}
            type=ref,event=pr
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') }}
          flavor: |
            latest=false

      - name: Compute final image tags
        id: tags
        run: |
          echo "tags<<EOF" >> $GITHUB_OUTPUT
          echo '${{ steps.meta.outputs.tags }}' >> $GITHUB_OUTPUT
          if [ 'true' == '${{ inputs.publish_dockerhub }}' ]; then
            echo '${{ steps.meta_dockerhub.outputs.tags }}' >> $GITHUB_OUTPUT
          fi
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Scan Dockerfile vulnerabilities using Checkov
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          framework: dockerfile
          quiet: true # show only failed checks
          container_user: 1000 # UID to run the container under to prevent permission issues

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64 # also support the new mac architecture (requires buildx)
          push: ${{ inputs.publish }}
          tags: ${{ steps.tags.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # use layer caching. Don't forget mode=max to also cache the build image
          # (vs only the final image - mode: min)
          cache-from: type=gha
          cache-to: type=gha,mode=max
